# Ignore specific files in the root folder.

/test/
/Executor/
# !electronApplications/executor/
/djangoConsole/

/configFiles/Executor.jsonc

/.vscode/
*.pyc

README_chs.md
InitLiberRPA.exe
project.json
temp.txt

# Other rules should follow .gitignore in subfolders.
