# Ignore specific files in the root folder.
README_chs.md
InitLiberRPA.exe
test/
Executor/
Console/
Editor/ui-analyzer-old
.vscode/
*.pyc
configFiles/Executor.jsonc
project.json
temp.txt

# Other rules should follow .gitignore in subfolders.
