/.vscode/settings.json
/test
/screenshot
/_useless
/liberrpa.egg-info
/snippets
/recipes

MANIFEST.in
setup.py

*.pyc
@AutomationLog.txt
project.json
*.flow
*.txt

pyproject-bak.toml

.condarc
pip.ini
