/.vscode/settings.json
/test
/screenshots
/_useless
/liberrpa.egg-info
/dist

/recipes

/snippets/snippets_other.snippets
/snippets/snippets_final.snippets
/snippets/snippets_log_generated.snippets
/snippets/api_manifest.json
/snippets/snippets_catalog.json
/snippets/api.md
MANIFEST.in
# setup.py

*.pyc
@AutomationLog.txt
project.json
*.flow
*.txt

pyproject-bak.toml

.condarc
pip.ini
environment-py313.yml