// FileName: snippets_favorite.jsonc.template
// Favorite Snippet configuration documentation: https://github.com/HUHARED/LiberRPA/blob/main/vscodeExtensions/liberrpa-snippets-tree/README.md#favorite-snippets

{
  "schemaVersion": 1,
  "snippets": {}
}
