// FileName: snippets_favorite.jsonc
// Favorite Snippet configuration documentation: https://github.com/HUHARED/LiberRPA/blob/main/vscodeExtensions/liberrpa-snippets-tree/FavoriteSnippetConfiguration.md

{
  "schemaVersion": 1,
  "snippets": {}
}
